.splashScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
    color: white;
    font-size: 2em;
    flex-direction: column;
  }